<!-- Bottom Navigation -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h1 class="display-4" style="font-size: 20px; color: #CCCDCF;">&copy; Copyright 2020. All rights reserved. Made by Oleg Gorbunov. 301093263</h1>
    </nav>
  </footer>