<%- include partials/header.ejs %> 

<%- include partials/mainNav.ejs %>

<!-- Main Content -->
  <div class="jumbotron" style="background-color: #8F9398; padding-top: 0px; padding-bottom: 10px; border-top-left-radius: 0px; border-top-right-radius: 0px;">

    <div class="jumbotron" style="padding-top: 32px; padding-bottom: 32px; background-color: #62676C; border-top-left-radius: 0px; border-top-right-radius: 0px;">
      <h1 class="display-2" style="text-align: center; color: #60B0F4;">Contact Info</h1>
    </div>

    <hr style="border-top: 10px dotted #62676C; width: 7%;">

    <div class="jumbotron" style="padding-top: 32px; padding-bottom: 32px; background-color: #62676C;">
      <h1 class="display-4" style="text-align: center; color: #FFFFFF; font-size: 40px;"> 
        <br>
        <i class="fas fa-mobile-alt"></i> Phone: +1(416)579-69-07 <i class="fas fa-mobile-alt"></i>
        <br>
        <br>
        <i class="fas fa-envelope fa-lg"></i> Email: oleg.gorb96@gmail.com <i class="fas fa-envelope fa-lg"></i>
        <br>
        <br>
        Or you can use the Form bellow
        <br>
        <span style="color: #60B0F4; font-size: 30px;"><i class="fas fa-exclamation"></i> Doesnt work yest <i class="fas fa-exclamation"></i></span>
        <br>
        <br>
        <form action=""></form>

          <label for="fname">First Name</label>
          <br>
          <input type="text" placeholder="Your name...">
          <br>
          <br>
          <label for="lname">Last Name</label>
          <br>
          <input type="text" placeholder="Your last name...">
          <br>
          <br>
          <label for="number">Phone Number</label>
          <br>
          <input type="tel" placeholder="your phone number...">
          <br>
          <br>
          <label for="email" >Email</label>
          <br>
          <input type="email" placeholder="Your email adress...">
          <br>
          <br>
          <label for="massage">Your Massage</label>
          <br>
          <textarea name="message" cols="30" rows="10" style="width: 80%; height: 200px;" placeholder="Your massage..."></textarea>
          <br>
          <br>
          <a href="/home"><input type="submit"></a>
          
          
        </form>
      </h1>
    </div>
    

  </div>

<%- include partials/bottomNav.ejs %>

<%- include partials/footer.ejs %>

